# robocop: disable
Faker==38.2.0
python-dateutil==2.8.2
robotframework==6.1.1
robotframework-faker==6.0.0
robotframework-pabot==5.1.0
robotframework-robocop==6.13.0
robotframework-pythonlibcore==4.4.1
robotframework-seleniumlibrary==6.8.0
selenium==4.39.0
six==1.16.0
urllib3==2.6.1
wrapt==2.0.1
qase-robotframework==4.0.7
python-dotenv==1.2.1